{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-5">

    <div class="card shadow p-4">

      <h2 class="text-center mb-4">Login</h2>

      <!-- Messages -->
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" name="username" class="form-control" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" name="password" class="form-control" required>
          <div class="text-end mt-1">
            <a href="{% url 'forgot_password' %}" class="small text-decoration-none" style="color: var(--primary);">Forgot Password?</a>
          </div>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary">
            Login
          </button>
        </div>

      </form>

      <hr>

      <p class="text-center">
        Don't have an account? 
        <a href="{% url 'register' %}">Register here</a>
      </p>

    </div>

  </div>
</div>

{% endblock %}