{% extends 'base.html' %}

{% block content %}
<h2>Upload Questions</h2>

<div class="card p-4">

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
      <label>Select Mock Test</label>
      <select name="mocktest_id" class="form-control" required>
        <option value="">-- Select --</option>
        {% for test in tests %}
          <option value="{{ test.id }}">{{ test.course.name }} - {{ test.year }} ({{ test.duration }} min)</option>
        {% endfor %}
      </select>
    </div>

    <div class="mb-3">
      <label>Upload Excel File</label>
      <input type="file" name="file" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Upload Questions</button>
  </form>

</div>

{% endblock %}